{% extends "membership/base.html" %}
{% load static %}

{% block title %}
    {{ title }} My Conferences
{% endblock title %}

{% block content %}

    <div class="container">
        <h2 class="mt-5 mb-5">Conferences</h2>
        <hr>
    </div>

    <div class="container">
        
        <div class="row">
                <div class="col-md-6">
                    <h3 class="mt-5 mb-5">My Events</h3>
                    
                    {% for registration in user_conferences %}
                    <div class="card mb-4 border-bottom border-warning">
                        <div class="card-body">
                            <h5 class="card-title">{{ registration.conference.title }}</h5>
                            <p class="card-text">{{ registration.conference.conf_date }}</p>
                        </div>

                    </div>
                    {% endfor %}
                    </ul>
                </div>
            
                
                <div class="col-md-6">
                    <h3 class="mt-5 mb-5">Upcoming Events</h3>
                    {% for conference in conferences %}
                    <div class="card mb-4">
                        <!-- Conference Image -->
                        <img src="{{ conference.image.url }}" class="card-img-top" alt="{{ conference.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ conference.title }}</h5>
                            <p class="card-text">Date: {{ conference.conf_date }}</p>
                            <p class="card-text">Location: {{ conference.location }}</p>
                            <!-- Add more conference details as needed -->
                            <a href="{% url 'conference_register' conference.id %}" class="btn btn-warning">Register</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            
        </div>
    </div>

{% endblock content %}