{% extends 'membership/base.html' %}
{% load static %}


{% block title %}
    Subscription Success - ELTAN
{% endblock title %}

{% block content %}
<div class="container mt-9 h-100">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center mb-5">Thank you! Your subscription is pending!</h3>
            <h2 class="text-black text-center p-5 bg-warning"><a style="color:blue !important;" href="{% url 'home' %}">Go Back to Home Page</a></h2>
            <p class="text-center mb-5">As soon as your application is verified by the ELTAN Registration Team, you will have access to your dashboard.</p>
            
            <h4 class="mt-5 text-center">While waiting for approval, Please fill out your information here:</h4>
            <a style="color:white !important; background-color:#E67918; display:block !important; margin: 0 auto !important;" class="btn btn-warning text-center" href="{% url 'profile_update' %}">Click Here To Update Profile</a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
{% endblock content %}