{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Login Page</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    
    

      <main class="main-content  mt-0">
        <section class="min-vh-100 mb-8">
          <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('../assets/img/curved-images/curved14.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
              <div class="row justify-content-center">
                
                <div class="col-lg-5 text-center mx-auto">
                  <a href="{% url 'home' %}"><img class="mx-auto mt-3 mb-2" src="{% static 'images/logo-eltan.jpeg' %}" alt="" width="60"></a>
                  <h1 style="color: #E67918 !important;" class="text-warning mb-2 mt-5">Received an Email?</h1>
                  <p class="text-lead text-black"></p>
                </div>

              </div>
            </div>
          </div>
          <div class="container">
            <div class="row mt-lg-n10 mt-md-n11 mt-n10">
              <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0">
                  <div class="card-header text-center pt-4">
                    <h5>Reset Password</h5>
                  </div>
                  
                  <div class="card-body">
                    <p>We have sent you an email with instructions for setting your new password. You should receive the email shortly.</p>
                    <p>If you do not receive an email, ensure you have entered the correct email address linked to your account or check your spam folder.</p>
                    
                      <div class="text-center mt-3">
                        <a href="{% url 'login' %}" style="text-decoration:none !important;"><i class="fa fa-long-arrow-left" style="color: #E67918;" aria-hidden="true"></i> Back to Login</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
  </body>
</html>